{% include base_path %}
<header class="masthead">
  <div class="masthead__inner-wrap">
    <nav id="site-nav" class="greedy-nav">
      <button class="hidden" type="button" aria-label="Toggle menu"><span class="navicon"></span></button>
      <ul class="visible-links">
        <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' %}selected{% endif %}">
          <a href="{{ base_path }}/">{{ site.title }}</a>
        </li>
        {% for link in site.data.navigation.main %}
          <li class="masthead__menu-item {% if page.url contains link.url %}selected{% endif %}">
            <a href="{% unless link.url contains '://' %}{{ base_path }}{% endunless %}{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <ul class="hidden-links hidden"></ul>
    </nav>
  </div>
</header>
